In [ ]:
import csv
from lingpy import *
import itertools
import os
import pickle as pk
from lingpy.settings import rcParams
from itertools import groupby
from asjp import ipa2asjp, asjp2ipa, tokenise
import fileinput
import pickle
import re 
import numpy as np
import pandas as pd
import time
import math

In [63]:
#with open('romance_transcribed_new.csv', 'r') as csvfile:
    data_set1 = pd.read_table('cartesian.csv', 'r',delimiter=',',na_filter=True,error_bad_lines=False,header=None,encoding="utf8")
    #data_set = list(csv.reader(csvfile, delimiter=',', quotechar='|'))
    #data = data_set(np.nan)

In [64]:
data_set1

            0           1          2
0   qbb_omnis   lat_omnis    ruq_tot
1   qbb_kinis   lat_kinis  ruq_foEli
2   qbb_libEr    lat_kinE   ruq_kinE
3  qbb_wEntEr  lat_vEntEr  ruq_foEli

In [65]:
#data_set = data_set1.values.T.tolist()

data_set1 = data_set1.replace(np.nan, 'NaN', regex=True)

In [66]:
data_set = []
for row in data_set1.iterrows():
    index, data = row
    data_set.append(data.tolist())

In [67]:
data_set1.isna().sum()

0    0
1    0
2    0
dtype: int64

In [81]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
		        'age': [20, 19, 22, 21],
		        'favorite_color': ['blue', 'red', 'yellow', "green"],
		        'grade': [88, 92, 95, 70]}
df = pd.DataFrame(raw_data, columns = ['name', 'age', 'favorite_color', 'grade'])
df
for i, row in data_set1.iterrows():
    print(nw_align(row[i],row[i]))

SyntaxError: invalid syntax (<ipython-input-81-74075f369f8e>, line 9)

In [70]:
[str(i) for i in data_set]

["['qbb_omnis', 'lat_omnis', 'ruq_tot']",
 "['qbb_kinis', 'lat_kinis', 'ruq_foEli']",
 "['qbb_libEr', 'lat_kinE', 'ruq_kinE']",
 "['qbb_wEntEr', 'lat_vEntEr', 'ruq_foEli']"]

In [ ]:
list_1 = data_set1[0]
list_2 = data_set1[1]
# using list comprehensions

for a,b in itertools.permutations(list_1,2):
    for i in list_1:
        print(nw_align(a,b))
        #print("This is a:",a) 
        #print("This is b:",b)

#sums = [a + b for (a, b) in itertools.product(list_1, list_2)] 
#print(sums)

In [ ]:
seqA = []
seqB = []
for i in range(len(data_set1)):
    for a,b in itertools.combinations(data_set1[i],2):
        seqA.append(a)
        seqB.append(b)
        #print('compare', a, 'and', b)
        print(nw_align(seqA[i][4:],seqB[i][4:],scorer=scorer))

#seqA = []
#for i in seqA_tmp:
 #   j = i.replace(' ','')
  #  seqA.append(j)

#seqB = []
#for i in seqB_tmp:
 #   j = i.replace(' ','')
  #  seqB.append(j)

In [ ]:
data_set

In [ ]:
scorer = {}
listoflist = []
with open("pmiScores.csv", "r") as infile:
    for line in infile:
        listoflist.append(line.rstrip("\n").split(','))
        

for i in range(1,len(listoflist)):
    for j in range(1, len(listoflist[0])):
        scorer[(listoflist[0][i], listoflist[j][0])] = float(listoflist[i][j])
        #Scorer is done
#scorer

In [ ]:
start = time.time()
final_scores = []
for i in range(len(seqA)):
    if seqA[i][4:] == "NaN" or seqB[i][4:]  == "NaN":
        final_scores.append("NaN")
        print(i, seqA[i], seqB[i],final_scores[i],file=open("schrott.csv", "a"))

        
    else:
        almA, almB,sim = nw_align(seqA[i][4:],seqB[i][4:],gap=16)
        final_scores.append(sim)
        #print(i, seqA[i], seqB[i],final_scores[i])

        print(i,seqA[i],seqB[i],final_scores[i],file=open("scores_nw_romance_new_positive_gap.csv", "a"))
        
end = time.time()
print(end - start)

In [ ]:
start = time.time()
final_scores = []
for i in range(len(seqA)):
    sim = edit_dist(seqA[i], seqB[i])
    final_scores.append(sim)
        #print(i, seqA[i], seqB[i],final_scores[i])

    print(i,seqA[i],seqB[i],final_scores[i],file=open("ipa_test_leveshtein", "a"))
        
end = time.time()
print(end - start)

In [ ]:
almA, almB, sim = nw_align("knoXTE","knoX3n",gap=-15,scorer=scorer)

In [ ]:
sim/len(almA)

In [ ]:
almA+almB

In [ ]:
for item in data:
    print (type(item),item,file=open("type.csv", "a"))

In [ ]:
edit_dist("froma","forma")